$black: #2A363B
$red: #F67280
$red-dark: #C06C84

* { /*do not touch*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /*do not touch*/
    font-family: 'Montserrat', sans-serif;
}

/*Turn it RESPONSIVE - MENU ALMOST DONE*/
@media screen and (min-width: 768px) {    
#navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
		font-size: 18px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		background: #e75e09;
		padding-bottom: 10px;
    }    
.main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }    
.main-nav li {
        margin: 0;
    }    
.nav-links {
        margin-left: 40px;
    }   
.logo {
        margin-top: 0;
    }  
.navbar-toggle {
       display: none;
    }    
.logo:hover,
    .nav-links:hover {
        color: rgba(0, 0, 0);
    }
.main-nav {
    list-style-type: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.navbar-toggle {
	position: absolute;
	top: 10 px;
	right: 20px;
	cursor: pointer;
	color: rgba(255,255,255,0);
	font-size: 24px;
}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 67px;
    max-width: 250px;
}
/*Menu end*/
/*Remy function for converting pixels to rems*/
@function remy($value) {
  @return ($value / 16px) * 1rem;
}

#container{ /*if it's gone, shows footer (out). if stays, covers the footer but not the full screen*/
	display: grid;
}


body {
  font-family: 'Montserrat', sans-serif;
  background: url("../images/login.jpg") no-repeat center; /*needs to be lighter - delay in loading*/
}
a,
[type="submit"] {transition: all .005s ease-in;} /*linked to: "lost credentials"*/
.signin__container {
  position: inline-block;
  top: 100%;
  overflow: hidden;
  display: flex;
  align-items: center; /*not working yet*/
  justify-content: center;
  border-radius: remy(3px);
  box-shadow: 0px remy(3px) remy(7px) rgba(0,0,0,.25); /*singIn dots gone*/
}
.signin__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.76);
}
.container__child {
  width: 95.7%; /*not responsive yet - in small screens*/
  height: 100%;
  color: #fff;
  opacity: 80%;
}

h1, 
h2 {
  font-weight: 300;
  color: #111;
  align-items: center;
}

.signin__form { 
  padding: 6rem; /*good for big screens but not responsive on smallers*/
  background: #fafafa;
}
label {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #000000;
}
.form-control { /*done*/
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  &:focus {border-color: #111;}
}
[type="text"] {color: #111;}
[type="password"] {color: #111;}
.btn--form { /*done*/
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: remy(35px);
  &:focus,
  &:hover {background: lighten(#111, 13%);}
}
.signup__link { /*done*/
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
  &:focus,
  &:hover {color: darken(#999, 13%);}
}
/*not working yet*/
#footer{
	float: bottom;
	text-align: center;
	background-color: transparent;
	opacity: 1;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding-top: 15px; 
	padding-bottom: 15px; 
}

/*not working yet*/
@media screen and (min-width: 1500px) {
  div#headerWrapper, 
  div#navSuppWrapper { 
    width: 100% !important; 
    margin: auto;
  }
}